html, body, div, ul {
    margin:0;
    padding:0;
}

body {
    font-family: "myriad-pro", Helvetica, sans-serif;
    font-size:22px;
}

h2, .h2, h4, .h4 {
    margin:0;
    padding:0px;
}

h2, h3, .h2, .h3, p, .p, li {
    color: $color-primary;
}


a {
    text-decoration: none;
    color: $color-link-primary;
}

li {
    list-style-type: none;
}

.text-uc {text-transform: uppercase;}

.mt0, .section.mt0 {margin-top:0em;}
.mb0, .section.mb0 {margin-bottom:0em;}
.mt05 {margin-top:0.5em;}
.mt1 {margin-top:1em;}

.img-responsive {
    max-width: 100%;
    margin:0 auto;
}

.site-container {overflow:hidden;}

.section {
    display:flex;
    max-width:90vw;
    margin:70px auto;
    &.section-first {margin-top:10px;}

    flex-direction: column;
    .col-title {width:100%;margin-right:0%}
    .col-content {width:100%;}

    .col-title .h2 {
        font-size: 1.8em;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
    }
    .col-content h2 {
        font-size: 1.7em;
        line-height: 1.2em;
        margin-bottom:30px;
    }
}

nav {
    position: absolute;
    top:40px;
    left:0px;
    width: 100%;

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        padding:12px 30px;
        list-style-type: none;
        text-align: center;
    }
    li a {
        color: $color-light;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.5px;

        &:hover,
        &:focus,
        &:active {
            color: $color-primary;
        }
    }
}