html, body, div, ul {
    margin:0;
    padding:0;
}

body {
    font-family: "myriad-pro", Helvetica, sans-serif;
    font-size:22px;
}

h2, .h2 {
    margin:0;
    padding:0px;
}

h2, h3, .h2, .h3, p, .p, li {
    color: $color-primary;
}


a {
    text-decoration: none;
    color: $color-link-primary;
}

li {
    list-style-type: none;
}

.text-uc {text-transform: uppercase;}



.section {
    display:flex;
    max-width:90vw;
    margin:70px auto;
    .col-title {width:23%;margin-right:1%}
    .col-content {width:76%;}

    .col-title .h2 {
        font-size: 1.8em;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
    }
    .col-content h2 {
        font-size: 1.7em;
        line-height: 1.2em;
        margin-bottom:30px;
    }
}

nav {
    position: absolute;
    top:40px;
    left:0px;
    width: 100%;

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        padding:12px 30px;
        list-style-type: none;
        text-align: center;
    }
    li a {
        color: $color-light;
        text-transform: uppercase;
        font-weight: 400;

        &:hover,
        &:focus,
        &:active {
            color: $color-primary;
        }
    }
}