
.welcome-message img {
    max-width: 88%;
}





@include mq('tablet', max) {

    .section {    
        flex-direction: column;
        .col-title {width:100%;margin-right:0%}
        .col-content {width:100%;}
    }

    nav {
        li {
            padding:6px 15px;
        }
    }

    .section .col-title .h2 { font-size: 1.5em; }
    .section .col-content h2 { font-size: 1.2em; line-height: 1.1em;}
    .section-tr .h3 {
        font-size: 1.1em;
        margin-bottom: 10px;
    }
    .section-team .col-title, 
    .section-ep .col-title {
        text-align: left;
    }

    .welcome-message p br {display: none;}

    .section-hero {
        background-image: url('http://bouletap.ca/clients/donaldroyerdesign.com/bg-mobile2.jpg');
        background-size: cover;
        background-position: top left;
        min-height: 80vh;
        align-items: end;

        .welcome-message {      
            padding-top:40px;  
            padding-bottom:10px;

            img {margin-bottom:1em;}
        }
    }
}


@include mq('phablet', max) {
    
    
    
    nav li a {font-size: 0.9em;font-weight: 600;}    
}

@include mq('phone', max) {
    nav li {font-size: 14px;}
}


@include mq('desktop') {
    .section-hero {
        background-image: url('https://royerstudios.education/showcase-tmp-gh783d/medias/bg-full.jpg');
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        min-height: 120vh;

        .welcome-message {
            padding-bottom:100px;
        }
    }
}